[Unit]
Description=Surveillance
After=network.target
[Service]
ExecStart=/bin/bash /home/pi/raspberry-pi-surveillance/run.sh
Restart=always
User=pi
[Install]
WantedBy=multi-user.target
